{% extends "base.html" %}
{% block contentsarea %}
<div class="hero-unit">
            <h1>Students' Gymkhana</h1>
            <h3>National Institute of Technology, Durgapur</h3>
            <p>A web portal for student activities, information dispersal and complaint redressal.</p>
<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
Collapsible Group Item #1
</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
<div class="accordion-inner">
Anim pariatur cliche...
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
Collapsible Group Item #2
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">
Anim pariatur cliche...
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block additional_scripts %}
<script language="javascript">
    $(document).ready(function(){
        $("#about").addClass("active");
    });
</script>
{% endblock %}
