{% extends "base.html" %}
{% block contentsarea %}
<div class="hero-unit">
            <div class="row-fluid">
                <div class="span9">
                    <h1>Students' Gymkhana<h1>
                    <h3>National Institute of Technology, Durgapur</h3>
                    <p>A web portal for student activities, information dispersal and complaint redressal.</p>
                    <h2>Error: File Not Found (404)</h2>
                </div><!--.span9-->
                <div class="span3">
                    <p><a class="btn btn-primary btn-large" href="about">About Us &raquo;</a></p>
                </div>
            </div><!--.row-fluid-->
          </div>
{% endblock %}